extends layouts/main

block content
    table(border=1)
        tr
            td(colspan=2)
                p|스펙
        tr
            td
                p|이미지
            td
                .phone__img
                    img(src=phone.imageUrl)
        tr
            td(colspan=2)
                p|기본정보
        tr 
            td
                p|이름
                p|모델명
                p|제조사
                p|출시일
                p|출고가 (원)
                p|출시OS
            td
                .phone__basic
                    p.phone__name=phone.name
                    p.phone__model=phone.model
                    p.phone__company=phone.company
                    p.phone__releaseDate
                        span=phone.releaseDate.getFullYear()
                        span="-"
                        span=phone.releaseDate.getMonth()+1
                    p.phone__releasePrice=phone.releasePrice
                    p.phone__releaseOS=phone.releaseOS
        tr
            td(colspan=2)
                p|외형
        tr
            td
                p|재질
                p|WxHxD
                p|무게
            td
                .phone__appearance
                    p.appearance__material=phone.specification.appearance.material
                    p.appearance__WxHxD
                        span=phone.specification.appearance.WxHxD.w
                        span=" X " 
                        span=phone.specification.appearance.WxHxD.h
                        span=" X "
                        span=phone.specification.appearance.WxHxD.d
                    p.appearance__weight=phone.specification.appearance.weight
        tr  
            td(colspan=2)
                p|디스플레이
        tr
            td
                p|사이즈
                p|해상도
                p|PPI
                p|타입
                p|너비
                p|높이
            td
                .phone__display
                    p.display__size=phone.specification.display.size
                    p.display__resolution
                        span=phone.specification.display.resolution.w
                        span=" X "
                        span=phone.specification.display.resolution.h
                    p.display__ppi=phone.specification.display.ppi
                    p.display__Dtype=phone.specification.display.Dtype
                    p.display__Dwidth=phone.specification.display.Dwidth
                    p.display__Dheight=phone.specification.display.Dheight
        tr  
            td(colspan=2)
                p|성능
        tr
            td
                p|AP
                p|CPU
                p|코어 수
                p|CPU 쿨럭
                p|GPU
                p|RAM
                p|메모리
            td
                .phone__performance
                    p.performance__AP=phone.specification.performance.AP
                    p.performance__CPU=phone.specification.performance.CPU
                    p.performance__core=phone.specification.performance.core
                    p.performance__CPUClock=phone.specification.performance.CPUClock
                    p.performance__GPU=phone.specification.performance.GPU
                    p.performance__RAM=phone.specification.performance.RAM
                    p.performance__memory=phone.specification.performance.memory
        tr  
            td(colspan=2)
                p|카메라
        tr
            td
                p|센서
                p|조리개
                p|Flash
                p|비디오 프레임
            td
                .phone__camera
                    p.camera__sensor=phone.specification.camera.sensor
                    p.camera__aperture=phone.specification.camera.aperture
                    p.camera__flash=phone.specification.camera.flash
                    p.camera__videoFrame=phone.specification.camera.videoFrame
        tr  
            td(colspan=2)
                p|배터리
        tr
            td
                p|mAH
                p|타입
                p|무선충전
            td
                .phone__battery
                    p.battery__mAH=phone.specification.battery.mAH
                    p.battery__Btype=phone.specification.battery.Btype
                    p.battery__wireless
                        if(phone.specification.battery.wireless == "1")
                            span|지원
                        else
                            span|지원 안함