mixin appearanceBlock(phone = {})
    .appearanceBlock
        table(border=1).phone__table
            tr
                td
                    p.appearance__material=phone.specification.appearance.material
            tr
                td
                    p.appearance__WxHxD
                        span=phone.specification.appearance.WxHxD.w
                        span=" × " 
                        span=phone.specification.appearance.WxHxD.h
                        span=" × "
                        span=phone.specification.appearance.WxHxD.d
                        span=" (mm)"
            re
                td
                    p.appearance__weight=`${phone.specification.appearance.weight} g`