extends layouts/main
include mixins/imgBlock
include mixins/basicBlock
include mixins/appearanceBlock
include mixins/displayBlock
include mixins/specBlock
include mixins/cameraBlock
include mixins/batteryBlock
include mixins/deleteBlock

block content
    if(compare.length > 0)
        table.compare__table(border=1)
            tr
                td(colspan=compare.length+1)|스펙
            tr.compare__title
                td(colspan=compare.length+1)|이미지
            tr.compare__imgtr
                td
                    |
                each item in compare
                    td.compare__imgtr
                        +imgBlock({
                            imageUrl:item.imageUrl,
                        })
            tr
                td
                    |
                each item in compare
                    td
                        +deleteBlock({
                            id: item.id
                        })
            tr.compare__title
                td(colspan=compare.length+1)|기본정보
            tr
                td
                    table.name__table
                        tr
                            td
                                p|제품명
                        tr
                            td
                                p|모델명
                        tr
                            td
                                p|제조사
                        tr
                            td
                                p|출시일
                        tr
                            td
                                p|출고가(원)
                        tr
                            td
                                p|출시 OS

                each item in compare
                    td
                        +basicBlock({
                            name: item.name,
                            model: item.model,
                            company: item.company,
                            releaseDate: item.releaseDate,
                            releasePrice: item.releasePrice,
                            releaseOS: item.releaseOS
                        })
            tr.compare__title
                td(colspan=compare.length+1)|외형
            tr
                td
                    table.name__table
                        tr
                            td
                                p|주요재질
                        tr
                            td
                                p|크기 (WxHxD, mm)
                        re
                            td
                                p|무게 (g)
                each item in compare
                    td
                        +appearanceBlock({
                            specification: item.specification
                        })
            tr.compare__title
                td(colspan=compare.length+1)|디스플레이
            tr
                td
                    table.name__table
                        tr
                            td
                                p|액정크기 (인치)
                        tr
                            td
                                p|화면 해상도
                        tr
                            td
                                p|Pixel/Inch
                        tr
                            td
                                p|화면 타입
                        tr
                            td
                                p|화면 폭
                        tr
                            td
                                p|화면 높이
                each item in compare
                    td
                        +displayBlock({
                            specification: item.specification
                        })
            tr.compare__title
                td(colspan=compare.length+1)|성능
            tr
                td
                    table.name__table
                        tr
                            td
                                p|AP
                        tr
                            td
                                p|CPU 
                        tr
                            td
                                p|CPU 코어
                        tr
                            td
                                p|CPU 클럭
                        tr
                            td
                                p|GPU
                        tr
                            td
                                p|메모리 (RAM)
                        tr
                            td
                                p|내장 메모리
                each item in compare
                    td
                        +specBlock({
                            specification: item.specification
                        })
            tr.compare__title
                td(colspan=compare.length+1)|카메라
            tr
                td
                    table.name__table
                        tr
                            td
                                p|카메라 센서
                        tr
                            td
                                p|카메라 조리개
                        tr
                            td
                                p|Flash
                        tr
                            td
                                p|녹화 프레임
                each item in compare
                    td
                        +cameraBlock({
                            specification: item.specification
                        })
            tr.compare__title
                td(colspan=compare.length+1)|배터리
            tr
                td
                    table.name__table
                        tr
                            td
                                p|배터리 (mAH)
                        tr
                            td
                                p|배터리 타입
                        tr
                            td
                                p|무선충전
                each item in compare
                    td
                        +batteryBlock({
                            specification: item.specification
                        })
    else
        p|추가하세요