extends layouts/main

block content
    .phoneDetail__container
        table(border=1).phoneDetail__table
            tr.spec__part
                td(colspan=2).phoneDetail__title
                    p|스펙
            tr.spec__part
                td.name_tag
                    p|이미지
                td.info
                    .phone__img
                        img(src=phone.imageUrl)
            tr.spec__part
                td(colspan=2).phoneDetail__title
                    p|기본정보
            tr 
                td.name_tag
                    p|이름           
                td.info
                    p.phone__name=phone.name            
            tr
                td.name_tag
                    p|모델명
                td.info
                    p.phone__model=phone.model
            tr
                td.name_tag
                    p|제조사
                td.info
                    p.phone__company=phone.company
            tr
                td.name_tag
                    p|출시일
                td.info
                    p.phone__releaseDate
                            span=phone.releaseDate.getFullYear()
                            span="-"
                            span=phone.releaseDate.getMonth()+1
            tr
                td.name_tag
                    p|출고가 (원)
                td.info
                    p.phone__releasePrice=phone.releasePrice
            tr
                td.name_tag
                    p|출시OS
                td.info
                    p.phone__releaseOS=phone.releaseOS
            tr.spec__part
                td(colspan=2).phoneDetail__title
                    p|외형
            tr
                td.name_tag
                    p|재질
                td.info
                    p.appearance__material=phone.specification.appearance.material   
            tr
                td.name_tag
                    p|WxHxD
                td.info
                    p.appearance__WxHxD
                            span=phone.specification.appearance.WxHxD.w
                            span=" X " 
                            span=phone.specification.appearance.WxHxD.h
                            span=" X "
                            span=phone.specification.appearance.WxHxD.d
            tr
                td.name_tag
                    p|무게
                td.info
                    p.appearance__weight=phone.specification.appearance.weight
            tr.spec__part
                td(colspan=2).phoneDetail__title
                    p|디스플레이
            tr
                td.name_tag
                    p|사이즈    
                td.info
                    p.display__size=phone.specification.display.size                
            tr
                td.name_tag
                    p|해상도
                td.info
                    p.display__resolution
                            span=phone.specification.display.resolution.w
                            span=" X "
                            span=phone.specification.display.resolution.h
            tr
                td.name_tag
                    p|PPI
                td.info
                    p.display__ppi=phone.specification.display.ppi
            tr
                td.name_tag
                    p|타입
                td.info
                    p.display__Dtype=phone.specification.display.Dtype
            tr
                td.name_tag
                    p|너비
                td.info
                    p.display__Dwidth=phone.specification.display.Dwidth
            tr
                td.name_tag
                    p|높이
                td.info
                    p.display__Dheight=phone.specification.display.Dheight
            tr.spec__part  
                td(colspan=2).phoneDetail__title
                    p|성능
            tr
                td.name_tag
                    p|AP
                td.info
                    p.performance__AP=phone.specification.performance.AP                 
            tr
                td.name_tag
                    p|CPU
                td.info
                    p.performance__CPU=phone.specification.performance.CPU
            tr
                td.name_tag
                    p|코어 수
                td.info
                    p.performance__core=phone.specification.performance.core
            tr
                td.name_tag
                    p|CPU 쿨럭
                td.info
                    p.performance__CPUClock=phone.specification.performance.CPUClock
            tr
                td.name_tag
                    p|GPU
                td.info
                    p.performance__GPU=phone.specification.performance.GPU
            tr
                td.name_tag
                    p|RAM
                td.info
                    p.performance__RAM=phone.specification.performance.RAM
            tr
                td.name_tag
                    p|메모리
                td.info
                    p.performance__memory=phone.specification.performance.memory
            tr.spec__part  
                td(colspan=2).phoneDetail__title
                    p|카메라
            tr
                td.name_tag
                    p|센서       
                td.info
                    p.camera__sensor=phone.specification.camera.sensor               
            tr
                td.name_tag
                    p|조리개
                td.info
                    p.camera__aperture=phone.specification.camera.aperture
            tr
                td.name_tag
                    p|Flash
                td.info
                    p.camera__flash=phone.specification.camera.flash
            tr
                td.name_tag
                    p|비디오 프레임
                td.info
                    p.camera__phoneFrame=phone.specification.camera.videoFrame
            tr.spec__part  
                td(colspan=2).phoneDetail__title
                    p|배터리
            tr
                td.name_tag
                    p|mAH 
                td.info
                    p.battery__mAH=phone.specification.battery.mAH             
            tr
                td.name_tag
                    p|타입
                td.info
                    p.battery__Btype=phone.specification.battery.Btype
            tr
                td.name_tag
                    p|무선충전
                td.info
                    p.battery__wireless
                            if(phone.specification.battery.wireless == "1")
                                span|지원
                            else
                                span|지원 안함
        if(loggedUser)
            .Detail__buttons
                if loggedUser.email === "admin@miphone.com"
                    .Detail_button
                        a(href=routes.editPhone(phone.id))
                            button.detail__button 정보 수정
                .Detail_button
                    a(href=routes.addMy(phone.id))
                        button.detail__button 나의 휴대폰 등록
                .Detail_button
                    a(href=routes.addCompare(phone.id))
                        button.detail__button 비교 리스트에 추가
        .phone__comments
            if loggedUser
                input(type="hidden", id="username", value=loggedUser.name)
                input(type="hidden", id="userEmail", value=loggedUser.email)  
            span.phone__comment-number#jsCommentNumber=phone.comments.length
            | 개의 댓글
            br
            form.add__comment#jsAddComment
                input(type="text", placeholder="댓글을 입력하세요")
            ul.phone__comments-list#jsCommentList
                each comment in phone.comments.reverse()
                    li
                        .comment-content
                            a(href=routes.userDetail(comment.creator))
                                if comment.creator === admin
                                    span.admin=comment.creatorName
                                else
                                    span=comment.creatorName
                            span=formatDate(comment.createdAt)
                            if loggedUser && String(comment.creator) === loggedUser.id
                                a(href=routes.deleteComment(phone.id, comment.id)) 댓글 삭제
                            p=comment.text
