mixin specBlock(phone = {})
    .specBlock
        table(border=1).phone__table
            tr
                td
                    p.performance__AP=phone.specification.performance.AP
            tr
                td
                    p.performance__CPU=phone.specification.performance.CPU 
            tr
                td
                    p.performance__core=phone.specification.performance.core
            tr
                td
                    p.performance__CPUClock=phone.specification.performance.CPUClock
            tr
                td
                    p.performance__GPU=phone.specification.performance.GPU
            tr
                td
                    p.performance__RAM=phone.specification.performance.RAM
            tr
                td
                    p.performance__memory=phone.specification.performance.memory