header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-mobile-alt
                span miPhone
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="검색...", name="term")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) 회원가입
                    li
                        a(href=routes.login) 로그인
                else
                    if(loggedUser.email == 'admin@miphone.com')
                        li
                            a(href=`/companies${routes.addCompany}`) 제조사 등록
                        li
                            a(href=`/phones${routes.upload}`) 정보 업로드
                    li
                        a(href=routes.me) 프로필
                    li
                        a(href=routes.compare) 스펙 비교
                    li
                        a(href=routes.logout) 로그아웃